.bg-4, .letter {behavior: url(../../../../Local%20Settings/Temporary%20Internet%20Files/Content.IE5/QH1G767Z/js/PIE.htc); position:relative;}
#toTop, .menu ul {behavior: url(../../../../Local%20Settings/Temporary%20Internet%20Files/Content.IE5/QH1G767Z/js/PIE.htc);}
h3,
h4,
h5,
h6,
.title-1 {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	behavior: url(../../../../Local%20Settings/Temporary%20Internet%20Files/Content.IE5/QH1G767Z/js/PIE.htc); position:relative;
}
